<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos adicionais para centralizar o formulário */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/salvar" method="post">
            <h2 class="text-center mb-4">Formulário de Eventos</h2>

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <div class="form-group">
                <label for="dia">Dia:</label>
                <!-- Definindo o valor padrão para 26/03/2024 -->
                <input type="date" class="form-control" id="dia" name="dia" value="2024-03-27" required>
            </div>

            <div class="form-group">
                <label for="inicio">Início do Evento:</label>
                <input type="time" class="form-control" id="inicio" name="inicio" required>
            </div>

            <div class="form-group">
                <label for="fim">Fim do Evento:</label>
                <input type="time" class="form-control" id="fim" name="fim" required>
            </div>

            <div class="form-group">
                <label for="local">Local:</label>
                <select class="form-control" id="local" name="local" required>
                    <option value="Palco 1">Palco 1</option>
                    <option value="Palco 2">Palco 2</option>
                    <option value="Palco 3">Palco 3</option>
                    <option value="Sala Community Lounge">Sala Community Lounge</option>
                    <option value="Sala Workshop 1">Sala Workshop 1</option>
                    <option value="Sala Workshop 2" selected>Sala Workshop 2</option>
                </select>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="pretendeParticipar" name="pretende_participar">

                <label class="form-check-label" for="pretendeParticipar">Pretende participar?</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
        <br>
        <a href="/eventos" class="btn btn-secondary btn-block">Ver Eventos</a>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
